@font-face
{
    src: url(./fonts/Sacramento/Sacramento-Regular.ttf);
    font-family: Sacramento;
}
@font-face
{
    src: url(./fonts/Montserrat/Montserrat-Light.ttf);
    font-family: Montserrat;
}
@font-face
{
    src: url(./fonts/Merriweather/Merriweather-Regular.ttf);
    font-family: Merriweather;
}
@font-face
{
    src: url(./fonts/Fallsiscoming/FallIsComingRegular-Mx9B.ttf);
    font-family: Falliscoming;
}
@font-face
{
    src: url(./fonts/VacationISParadise/VacationsInParadisePersonalUse-qwml.ttf);
    font-family: VacationISParadise;
}
@font-face
{
    src: url(./fonts/Bronova/Bronova\ Regular.otf);
    font-family: Bronova;
}
@font-face
{
    src: url(./fonts/Ginga/Ginga-2VGe.ttf);
    font-family: Ginga;
}
@font-face
{
    src: url(./fonts/Countryside/Countryside-YdKj.ttf);
    font-family: Countryside;
}
*{
    margin: 0;
    padding: 0;
}
body
{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.562)) ,url(./img/image3.jfif);
    background-size: 35%;
    width: 65rem;
}
.head-head
{
    position: relative;
    color: whitesmoke;
    background-size: cover;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -20rem;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-bottom: 5rem;
    font-family: Countryside;
    background: url(img/image8.jfif);
    background-size: none;
}
.section-sec-sec
{
    position: relative;
    padding-left: 20rem;
    top: 15rem;
}
#about
{
    position: relative;
    text-align: center;
    color: whitesmoke;
    font-family: Falliscoming;
    font-size: 5rem;
}
#about-1
{
    position: relative;
    text-align: center;
    color: whitesmoke;
    font-family: Falliscoming;
    font-size: 3rem;
}
.footer-1
{
    position: relative;
    text-align: center;
    background: url(img/image8.jfif);
    background-size: none;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    margin-top: 35rem;
    margin-right: -20rem;
    margin-left: -1rem;
    margin-bottom: -1rem;
}
#copyr
{
    text-align: center;
    color: whitesmoke;
}
.links
{
    position: relative;
    text-align: center;
    margin-left: 10px;
    color: whitesmoke;
}